/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .feed {
    background-color: #212529;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
  }

  .feed h3 {
    color: #fefefe;
  }

 .feed-box {
  border-top: 1px grey solid;
  padding: 5px, 0, 5px, 0;
  background-color: #30415b;
  border-radius: 5px;
  margin: 6px 2px 6px 2px;
  padding: 10px;
 }

 #f-user a {
  text-decoration: none;
  background-color: #c5d0db;
  color: #212529;
  font-weight: bold;
  font-size: 0.8em;
  padding: 2px 4px;
  border-radius: 5px;
  margin-bottom: 5px;
 }

 #f-user a:hover {
   color: #2d7fef;
 }

 #f-descript {
  color: #b3c3db;
  margin: 10px auto 10px auto;
 }

 #f-complete-since {
  color: #8596af;
  font-size: 0.5em;
 }

 .rounders {
   border-radius: 5px;
   margin: auto;
   padding: 10px;
 }

 .goal-show {
   display: inline-block;
   background-color: #212529;
   border-radius: 5px;
   margin: auto;
   padding: 10px;
 }

 .goal-show h1 {
  color: #fefefe;
 }

 .goal-show h2 {
  color: #fefefe;
 }
